.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6e7388; 
    z-index: -1; /* Para enviar para o fundo */
}






form{
  display: flex;
  justify-content: flex-start;
  flex-direction: column; /*ficar em coluna  */
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
}
.form-label {
  margin-bottom: 5px;
}

form>input:focus {
  outline: none; /*tira a borda preta ao clicar   */
}

form>input {
  width: 500px;
  margin-bottom: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}
form select {
  border: none;
}


.container {
    display: flex;
    
  }
  
  .left-side {
    flex: 20%; 
    background-color: #444c5c; 
    height: 90vh;
    margin-top: 50px;
    
  }
  
  .right-side {
    flex: 60%;
    background-color:#f7ebeb; 
    height: 90vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
   
  }
  .right-side>h1{
    margin-top: 70px;
    font-size: 30px;
    font-weight: 900;
  
  }

  .btn>button{
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 15px;
  }

.form-select,
.form-input,
.servicos-adicionais {
    margin-bottom: 15px;
    
}


.form-btn {
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 15px;
   
}
.side {
  margin-bottom: 50px; 
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px; 
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}
.right-side > h1 {
  margin-top: 20px; 
  font-size: 30px;
  font-weight: 900;
}
.formulario select.form-select {
  width: 500px;
}

.teupai img {
  width: 500px;
  height: 500px;

}

.botao {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px; 
  background-color: #f7ebeb; 
  color: #040000; 
  transition: background-color 0.3s ease; 
  transition: transform 0.5s ease-in-out;
}

.botao:hover{
  transform: scale(1.1);
  background-color: bisque;
  color: #444c5c;
}